<table bgcolor="#ffffff" class="top" width="48%"  align="left" cellpadding="0" cellspacing="0" style="padding:10px 10px 10px 10px;">
  <!-- First header column with Logo -->
  <tbody>
    <tr>
      <td style="font-size: 16px; color:#444444; text-align:left; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;">
      <#if redirectUrl ??>
	  		<a href="${redirectUrl}" target="_blank">
	  <#else>
	  		<a href="${host}account/user/login" target="_blank">
	  </#if>
      
     <#if logoUrl ??>
	 		<img src="${logoUrl}" class="logoImage"/>
	 <#else>
	 		<img src="${host}resources/images/email-logo-getinsured-th1.jpg" class="logoImage"/>
	 </#if>
    </tr>
  </tbody>
</table>
<table bgcolor="#ffffff" class="top" width="48%"  align="left" cellpadding="0" cellspacing="0" style="padding:26px 10px 10px 10px; text-align:right">
  <!-- Second header column with ISSUE|DATE -->
  <tbody>
    <tr>
      <td width="52%" style="font-size: 16px; color:#283F58; text-align:right; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif; font-weight: bold">
      <#if phoneNum ??>
      		${phoneNum}
      </#if>
      </td>
    </tr>
  </tbody>
</table>