<!-- Footer -->
<table class="footer" width="100%"  align="left" cellpadding="0" cellspacing="0">
 	<tr align="center">
 		 <#if disclaimerContent ??>
	       <td style="color: #444; font-size: 11px; " valign="middle">${disclaimerContent}</td>
	     <#else>
	     <td style="color: #444; font-size: 11px; " valign="middle"></td>
	     </#if>
	</tr>
	<tr align="center">
	     <td style="color: #444; font-size: 11px; " valign="middle">We value your privacy and email settings. If you no longer wish to receive emails, you can <a href="UNSUBSCRIBE" style="color: #1234EF; text-decoration: underline;">unsubscribe</a>.</td>
	</tr>
</table>