<table cellpadding="0" cellspacing="0" width="600"
	style="margin: 0 auto; width: 600px;">
	${headerContent}
	<tbody width="600" style="font-family: Arial, Helvetica, sans-serif;">
		<tr>
			<td width="31">&nbsp;</td>
			<td width="529"
				style="vertical-align: middle; line-height: 20px; padding: 20px 0 30px;">
				<table border="0" cellpadding="0" cellspacing="0"
					style="width: 100%; border-collapse: collapse; background-color: #ffffff; color: #434951; font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 20px;">
					<tr>
						<td valign="top"
							style="margin: 0; padding: 0; font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 20px; vertical-align: top;">
							<p
								style="margin: 0; padding: 0; font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 21px;">
								Dear <span>${customerName}</span>,
							</p>
						</td>
					</tr>
					<tr>
						<td
							style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 21px; vertical-align: top;">&nbsp;</td>
					</tr>
					<tr>
						<td valign="top"
							style="margin: 0; padding: 0; font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 20px; vertical-align: top;">
							<p
								style="margin: 0; padding: 0; font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 21px;">
								We're so glad we could help complete your application for insurance. You have selected the following plan:</p>
						</td>
					</tr>
					<tr>
						<td
							style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 21px; vertical-align: top;">&nbsp;</td>
					</tr>
					<tr>
						<td
							style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 21px;">&nbsp;</td>
					</tr>
					<tr>
						<td
							style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 21px; vertical-align: top;">
							<table cellpadding="0" cellspacing="0"
								style="color: #ccc; border: 1px solid #ccc; margin: 0 auto; width: 300px; text-align: center;"
								width="300">
								<tbody>
									<tr>
										<td colspan="3">
											<p style="border-bottom: 1px solid #ccc;">
												<img src="${host}${companyLogo}" alt="Getinsured Logo" />
											</p>
										</td>
									</tr>
									<tr>
										<td><a href="javascript:void(0)"
											style="font-size: 16px; text-decoration: none; color: #00A2E8">${planName}</a></td>
									</tr>
									<tr>
										<td style="text-align: center;">
											<p style="color: #000;">
												<span style="font-size: 20px; font-weight: bold;">${netPremiumAmount}</span>/month
											</p>
										</td>
									</tr>
									<tr>
										<td>
											<table cellpadding="0" cellspacing="0"
												style="color: #ccc; margin: 0 auto; width: 300px;"
												width="300">
												<tbody>
													<tr>
														<td style="text-align: right;" width="50%">Plan Type</td>
														<td width="5%">&nbsp;</td>
														<td style="text-align: left;" width="40%">${planType}</td>
													</tr>
													<tr>
														<td style="text-align: right;">Office Visit</td>
														<td>&nbsp;</td>
														<td style="text-align: left;">${officeVisit}</td>
													</tr>
													<tr>
														<td style="text-align: right;">Generic Medications</td>
														<td>&nbsp;</td>
														<td style="text-align: left;">${genericMedication}</td>
													</tr>
													<tr>
														<td style="text-align: right;">Deductible</td>
														<td>&nbsp;</td>
														<td style="text-align: left;">${deductible}</td>
													</tr>
													<tr>
														<td style="text-align: right;">Max Out-of-Pocket</td>
														<td>&nbsp;</td>
														<td style="text-align: left;">${maxOop}</td>
													</tr>
													<tr>
														<td height="20">&nbsp;</td>
														<td>&nbsp;</td>
														<td>&nbsp;</td>
													</tr>
												</tbody>

											</table>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<tr>
						<td
							style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 21px;">&nbsp;</td>
					</tr>
					<tr>
						<td valign="top"
							style="margin: 0; padding: 0; font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 20px; vertical-align: top;">
							<p style="margin: 0; padding: 0; font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 21px;">
								<b>What's happening now:</b> Your application has been submitted to <b>${insuranceCompany}</b>. Please be aware that <b>${insuranceCompany}</b> will contact you if they require additional information.  Once your application is approved you will receive your new policy from <b>${insuranceCompany}</b>. 
							</p>
						</td>
					</tr>
					<tr>
						<td
							style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 21px;">&nbsp;</td>
					</tr>
					<tr>
						<td valign="top"
							style="margin: 0; padding: 0; font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 20px; vertical-align: top;">
							<p style="margin: 0; padding: 0; font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 21px;">
								<b>When You Get Your Policy:</b> Once you've received your policy, please confirm the effective date. You can't use your policy until the effective date, and you don't want to cancel any other insurance until you've received your new policy, reviewed benefits, and confirmed your effective date.You'll also want to review the detailed benefits of your plan. Find out which doctors your plan will cover, so you don't get surprised by out-of-network charges.  
							</p>
						</td>
					</tr>
					<tr>
						<td
							style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 21px;">&nbsp;</td>
					</tr>
					<tr>
						<td valign="top"
							style="margin: 0; padding: 0; font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 20px; vertical-align: top;">
							<p style="margin: 0; padding: 0; font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 21px;">
								As a GetInsured customer, you can:
							</p>
						</td>
					</tr>
					<tr>
						<td
							style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 10px;">&nbsp;</td>
					</tr>
					<tr>
						<td valign="top"
							style="margin: 0; padding: 0; font-size: 12px; font-family: Arial, Helvetica, sans-serif; line-height: 20px; vertical-align: top;">
							<p style="margin: 0; padding: 0; font-size: 12px; font-family: Arial, Helvetica, sans-serif; line-height: 21px;">
								<b><ul>
									<li>See all the details and benefits of the plan you've chosen</li>
									<li>Find amazing discounts on prescription medications</li>
									<li>More to come...</li>
								</ul></b>
							</p>
						</td>
					</tr>
					<tr>
						<td valign="top"
							style="margin: 0; padding: 0; font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 20px;">
							<p
								style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 14px;">
								Visit your <a href="${link}"  target="_blank" style="color: #0000FF">GetInsured Dashboard</a> right now to claim your (free) member benefits.
							</p>
						</td>
					</tr>
					<tr>
						<td style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 10px;">&nbsp;</td>
					</tr>
					<!-- <tr>
						<td	style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 21px;">
							<a href="${link}"  target="_blank" style="color: #000000; background: #e8c30c; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 18px;font-weight: bold; text-align: center; line-height: 35px; width: 150px; height: 42px; border:0;cursor: pointer; display:block; width:155px; height:35px; border:0; text-decoration:none;">My GetInsured</a>
						</td>
					</tr> -->
					<tr>
						<td style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 21px;">&nbsp;</td>
					</tr>
					<tr>
						<td valign="top"
							style="margin: 0; padding: 0; font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 20px;">
							<p
								style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 21px;">Healthy Regards,</p>
						</td>
					</tr>
					<tr>
						<td style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 21px;">&nbsp;</td>
					</tr>
					<tr>
						<td valign="top"
							style="margin: 0; padding: 0; font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 20px;">
							<p
								style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 21px;">All of Us at GetInsured</p>
						</td>
					</tr>
					<!-- <tr>
						<td valign="top"
							style="margin: 0; padding: 0; font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 20px;">
							<p>
								<img src="${host}resources/images/email-signature.jpeg" alt="Getinsured Signature" />
							</p>
						</td>
					</tr> -->
					<tr>
						<td style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 21px;">&nbsp;</td>
					</tr>
					<tr>
						<td valign="top"
							style="margin: 0; padding: 0; font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 20px;">
							<p style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; line-height: 15px;">
							If you need help, we're here: (866) 602 8466. 5 days week from 9:00 AM to 9:30 PM ET. Weekends : closed
							</p>
							<!-- HIX-53192
							<p style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; line-height: 15px;">
							<b>P.S.</b> Anytime you need help, we're here. Reach us 7 days a week  8a - 5:30p PT at (866) 602 8466. We're your broker for the life of your policy.
							</p>
							<p style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; line-height: 15px;">
							<b>P.P.S.</b> Please mark your calendar: you'll need to shop for health insurance again starting November 15, 2014 -- and we'll be here to help you!
							</p> -->
						</td>
					</tr>
				</table>
			</td>
			<td width="15">&nbsp;</td>
		</tr>
	</tbody>
	${footerContent}
</table>