<table cellpadding="0" cellspacing="0" width="600"
	style="margin: 0 auto; width: 600px;">
	${headerContent}
	<tbody width="600" style="font-family: Arial, Helvetica, sans-serif;">
		<tr>
			<td width="31">&nbsp;</td>
			<td width="529"
				style="vertical-align: middle; line-height: 20px; padding: 20px 0 30px;">
				<table border="0" cellpadding="0" cellspacing="0"
					style="width: 100%; border-collapse: collapse; background-color: #ffffff; color: #434951; font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 20px;">
					<tr>
						<td valign="top"
							style="margin: 0; padding: 0; font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 20px; vertical-align: top;">
							<p style="font-family: 'Proxima Nova', Helvetica, corbel, sans-serif;font-size: 14px;font-style: bold;font-weight: 100;color: #737373;line-height: 18px;">
								Hi <span>${customerName}</span>,
							</p>
							<p style="font-family: 'Proxima Nova', Helvetica, corbel, sans-serif;font-size: 14px;font-style: bold;font-weight: 100;color: #737373;line-height: 18px;">
								I'm really glad we could help you submit your application for health insurance. We hope the process was as smooth and painless as possible. We are always looking for ways to improve, so we're hoping you could answer the following quick question:
							</p>
							<p style="font-family: 'Proxima Nova', Helvetica, corbel, sans-serif;font-size: 14px;font-style: bold;font-weight: 100;color: #737373;line-height: 18px;">
								What could we have done to make your experience with GetInsured better?
							</p>
							<p style="font-family: 'Proxima Nova', Helvetica, corbel, sans-serif;font-size: 14px;font-style: bold;font-weight: 100;color: #737373;line-height: 18px;">
								Just reply to this email and let us know. We'd really appreciate it.
							</p>
							<p style="font-family: 'Proxima Nova', Helvetica, corbel, sans-serif;font-size: 14px;font-style: bold;font-weight: 100;color: #737373;line-height: 18px;" align="left">															
								Thanks,<br>
								Yi <br>
								<b>Manager, Customer Happiness</b>
							</p>
						</td>
					</tr>

				</table>
			</td>
			<td width="15">&nbsp;</td>
		</tr>
							
	</tbody>
	${footerContent}
</table>